QListView {
    selection-background-color: #0000aa;
}

QListView::item {
    padding: 0.5em;
}

/* Sidebar heading customizations */
BaseSidebar > QLabel {
    color: #dddddd;
    padding: 4px;
}

/* Sidebar tree view item hover property */
BaseSidebar > QTreeView::item:hover {
    background: #333333;
}

/* Sidebar and sub-widget customizations */
BaseSidebar > * {
    background-color: #222222;
}